* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: -320px;
  transition: all ease-in-out 300ms;
}

.sidebar {
  width: 320px;
  height: 100%;
  background: #3aada3;
  overflow: auto;
  float: left;
  color: black;
}

.sidebar img {
  width: 130px;
  display: block;
  margin: 10px auto;
  opacity: .7;
  background-color: ;
}
.submenu{
  
}

.side-hide {
  float: right;
  margin: 12px;
  color: black;
  opacity: .7;
  font-size: 24px;
  cursor: pointer;
}

.sidebar ul li {
  list-style: none;
  padding: 12px 10px;
}

.sidebar ul li:hover {
  background: #1b7161;
  cursor: pointer;

}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  opacity: .7;
  font-size: 17px;
  font-family: sans-serif;
}

.content {
  padding: 20px;
  font-size: 16px;
  color: black;
  font-family: 'arial';
  }

.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 310px;
  margin-bottom: 10px;

}

.content p {
  font-size: 18px;
  text-align: justify;
  margin-left: 310px
}
button {
  background: #3aada3;
  color: #000000;
  padding: 10px 20px;
  border: none;
  display: block;
  /* margin: 10px auto; */
  float: left;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px
}

.show {
  left: 0;
}